* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
}

.container-fluid {
    display: flex;
}

.btn {
    margin: 10px 50px;
}

.dataBase {
    padding-left: 30px;
    width: 100%;
}